html {
	display: table;
	height: 100%;
	width: 100%;
}

body {
	font-family: Tahoma;
	font-size: 11px;
	display: table-cell;
	vertical-align: middle;
}

h3 {
	background-color: #7B858F;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	padding: 5px 15px;
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	margin: 0;
	font-size: 10px;
}

h4 {
	padding: 5px 15px;
	text-align: center;
	color: #7B858F;
	font-weight: bold;
	margin: 0;
	font-size: 14px;
	width: 100%;
}

#lgn-hdr {
	width: 100%;
	background-image: url(/sit/img/login_wallpaper.PNG);
	background-position: right top;
	background-repeat: no-repeat;
	height: 116px;
	min-height: 116px;
	position: absolute;
	top: 0px;
}

#lgn-hdr-lgo {
	padding: 10px;
}

.hdr-lgo-main {
	width: 15%;
}

.hdr-lgo-oeia {
	width: 7%;
	float: right;
}

.ctt {
	width: 50%;
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ctt-hdr {
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
	margin: 0 auto;
}

.ctt-hdr-img {
	text-align: center;
	width: 100%;
}

.ctt-hdr-img-obj {
	width: 500px;
}

.ctt-hdr-txt {
	text-align: center;
	margin-left: 25px;
	font-size: 14px;
	font-weight: bold;
	color: #7b858f;
	width: 100%;
}

.ctt-bdy {
	width: 100%;
	margin: 0 auto;
}

.ctt-ftr {
	width: 100%;
	margin: 0 auto;
	/*background: #F1F4F6;*/
	position: fixed;
	left: 0px;
	bottom: 0px;
}

.ctt-ftr-img {
	width: 100%;
	text-align: center;
	padding: 5px;
}

.ctt-ftr-img-obj {
	width: 25%;
}

.ctt-ftr-txt {
	color: #636568;
	line-height: 19px;
	padding: 0 40px;
	text-align: left;
}

.lnk {
	position: relative;
	color: #ff3296;
}

.lnk:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 0;
	height: 3px;
	background-color: #3498db;
	content: "";
	transition: width 0.2s;
}

.lnk:hover {
	color: #3498db;
}

.lnk:hover:after {
	width: 100%;
}

.lnk-lbl:hover {
	color: #2196F3;
}

.lnk-lbl {
	color: #0072C6;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
}

.frm-ctt-bdy {
	width: 100%;
	max-width: 650px;
	min-width: 400px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.frm-ctt-act {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.cmb-frm-lgn {
	width: 100%;
	color: #ffffff;
	font-size: 1.5em;
	background: #3498db;
	text-decoration: none;
	border: 0px;
	padding: 10px;
	line-height: 5px;
	cursor: pointer;
	box-shadow: 0px 0px 0px 0px;
	border-radius: 0px;
}

.cmb-frm-lgn:hover {
	background: #66c2f7;
	text-decoration: none;
}

.frm-ctt-rol-bdy {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.frm-ctt-rol-bdy-img {
	width: 15%;
	border: 1px solid #7b858f;
	border-radius: 90px;
	padding: 5px;
}

.frm-lbl {
	font-size: 12px;
	font-weight: bold;
	color: #242b57;
}

.frm-txt {
	font-size: 12px;
	color: #242b57;
}

.aln-ctr {
	text-align: center;
}

.aln-rgh {
	text-align: right;
}

.aln-lft {
	text-align: left;
}

a {
	outline: none;
	text-decoration: blink;
}

.img-load {
	width: 32px;
}

.episig-wdt-100 {
	width: 100%;
	margin: 0 auto;
	border-spacing: 0px;
}

.episig-img-lgo {
	width: 150px;
	padding: 10px;
}

.episig-wdt-90 {
	width: 90%;
	margin: 0 auto;
	border-spacing: 0px;
}

.episig-wdt-80 {
	width: 80%;
	margin: 0 auto;
	border-spacing: 0px;
}

.episig-wdt-70 {
	width: 70%;
	margin: 0 auto;
	border-spacing: 0px;
}

.episig-wdt-60 {
	width: 60%;
	margin: 0 auto;
	border-spacing: 0px;
}

.episig-wdt-50 {
	width: 50%;
	margin: 0 auto;
	border-spacing: 0px;
}

.episig-wdt-40 {
	width: 40%;
	margin: 0 auto;
	border-spacing: 0px;
}

.episig-wdt-30 {
	width: 30%;
	margin: 0 auto;
	border-spacing: 0px;
}

/*****************COLOR*****************/
.episig-brr-mdl-sgr {
	background-color: #990000;
	height: 3px;
}

/** INPUT **/
.frm-inp {
	border-radius: 0px 0px 0px 0px;
	line-height: normal;
	width: 98%;
	height: 30px;
	font-size: 1.4em;
}

.frm-cmb {
	border-radius: 0px;
	height: 30px;
	line-height: normal;
	box-shadow: none;
	-webkit-box-shadow: none;
	background: #fff;
	font-size: 1.4em;
}

.episig-stl-lne {
	background-color: #560303;
	width: 100%;
	height: 2px;
	border: 1px;
}

.episig-cnt {
	width: 100%;
}

.episig-cnt-prn {
	width: 100%;
}

.episig-cnt-prn-rsp {
	display: none;
}

.episig-cnt-bdy {
	width: 80%;
	margin: 0 auto;
}

.episig-stl-lgn-cti {
	width: 100%;
	height: 30px;
	font-size: 1.2em;
}

.episig-cnt-ctr {
	width: 50%;
	text-align: center;
}

.episig-cnt-hdr-lft {
	width: 27%;
	text-align: right;
	display: inline-table;
}

.episig-cnt-hdr-rgt {
	width: 35%;
	text-align: right;
	display: inline-table;
}

.episig-stl-lgn-bdy {
	width: 100%;
	margin: 0 auto;
}

.episig-stl-lgn-lnk {
	margin: 0 auto;
	width: 30%;
}

.episig-stl-lgn-lnq {
	text-align: center;
}

.episig-stl-lgn-ftr {
	background: #e3e3e3;
	color: #fcfcfd;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.episig-slt-lgn-spd {
	/* propiedades l�nea de separaci�n*/
	/*border: 10px;*/
	border-color: #c6c3c5;
}

.episig-slt-lgn-tlt {
	color: #616260;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

.episig-slt-lgn-tlr {
	text-align: center;
	width: 100%;
}

.episig-slt-lgn-btn {
	-moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b0b0b0
		), color-stop(1, #969696));
	background: -moz-linear-gradient(center top, #a5a5a5 5%, #828080 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5a5a5',
		endColorstr='#828080');
	background-color: #a5a5a5;
	-webkit-border-top-left-radius: 42px;
	-moz-border-radius-topleft: 42px;
	border-top-left-radius: 42px;
	-webkit-border-top-right-radius: 42px;
	-moz-border-radius-topright: 42px;
	border-top-right-radius: 42px;
	-webkit-border-bottom-right-radius: 42px;
	-moz-border-radius-bottomright: 42px;
	border-bottom-right-radius: 42px;
	-webkit-border-bottom-left-radius: 42px;
	-moz-border-radius-bottomleft: 42px;
	border-bottom-left-radius: 42px;
	text-indent: 0px;
	border: 2px solid #dcdcdc;
	display: inline-block;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	height: 30px;
	line-height: 30px;
	width: 135px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 0px 0px #000000;
}

.episig-slt-lgn-btn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #969696
		), color-stop(1, #b0b0b0));
	background: -moz-linear-gradient(center top, #969696 5%, #b0b0b0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969696',
		endColorstr='#b0b0b0');
	background-color: #969696;
}

.episig-slt-lgn-btn:active {
	position: relative;
	top: 1px;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
	{
	background: none;
	-moz-box-shadow: inset 0 0 0 #fff;
	-webkit-box-shadow: inset 0 0 0 #fff;
	box-shadow: inset 0 0 0 #fff;
	color: #222222;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-khtml-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-khtml-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	-khtml-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-khtml-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

@media all and (max-width: 800px) , only screen and
		(-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px) , only
		screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px) ,
		only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width:
		1024px) , only screen and (min-device-pixel-ratio: 2) and (max-width:
		1024px) , only screen and (min-resolution: 192dpi) and (max-width:
		1024px) , only screen and (min-resolution: 2dppx) and (max-width:
	1024px) {
	.episig-ftr-bdy {
		width: 100%;
		margin: 0 auto;
		border-spacing: 0px;
		text-align: left;
	}
	.episig-stl-lgn-ctn {
		width: 80%;
		background: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	.gim-episig-lgn {
		width: 50px;
	}
	.episig-inp {
		border-radius: 0px 0px 0px 0px;
		line-height: normal;
		font-size: 12px;
	}
	.episig-slt-lgn-btn {
		-moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
		-webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
		box-shadow: inset 0px 0px 0px 0px #ffffff;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b0b0b0
			), color-stop(1, #969696));
		background: -moz-linear-gradient(center top, #a5a5a5 5%, #828080 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5a5a5',
			endColorstr='#828080');
		background-color: #a5a5a5;
		webkit-border-top-left-radius: 0px;
		-moz-border-radius-topleft: 0px;
		border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-moz-border-radius-topright: 0px;
		border-top-right-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-bottomright: 0px;
		border-bottom-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-bottomleft: 0px;
		border-bottom-left-radius: 0px;
		text-indent: 0px;
		border: 2px solid #dcdcdc;
		display: inline-block;
		color: #ffffff;
		font-size: 12px;
		font-weight: bold;
		height: 48px;
		line-height: 24px;
		width: 222px;
		text-shadow: 0px 0px 0px #000000;
	}
}